<header class="header">

    <div class="header-inner">

        <a class="skip-link screen-reader-text" href="#content">
            Skip to content
        </a>

        <div class="header-logo">

            <a href="{{ site.url }}">
                {{ site.title }}
            </a>

        </div>

        <div class="header-menu">

            <nav id="header-main-menu" class="header-navigation" aria-label="Main menu">
                {% include navigation.html %}
            </nav>

        </div>

    </div>

</header>
