.books-meta { // container for the book info, "published", "version"...
    @include fluid-font-size($ssize);

    font-size: $ssize;
}

// "read online", "print version" book options
// in the future, these could include links to epub, pdf
.books-options {
    @extend %clearfix;

    margin: $vertical-rhythm-0 0;
    padding: $vertical-rhythm-0 0;
}

.books-button {
    @extend %button;

    @include tablet {
        display: inline-block; // side-by-side in >= tablet view

        + .books-button {
            margin-top: 0;
            margin-left: $space-0;
        }
    }

    display: block; // one per line in mobile view

        + .books-button {
            margin-top: $space-0;
        }

    &.read-offline a { // the print button has different bg
        background: $btnaltbg;

        &:hover,
        &:focus {
            background: $btnaltbgactive;
        }
    }
}
