.footer {
    @extend %clearfix;

    @include fluid-font-size($msize);

    @include tablet {
        padding: $vertical-rhythm-0 0;
    }

    background: $basebg;
    color: $basefg;
    font-size: $msize;
    padding: $space-0 0;
    margin-top: $vertical-rhythm-0;
}

.footer-block {
    @include fluid-width-measure;

    display: block;
    padding: $space-1;
    margin: 0 auto;

    + .footer-block {
        @include border(top, $border-width-thin, solid, $border-color-light-2);
    }

    a {
        font-weight: 700;
    }
}
