.footer {
    @extend %clearfix;

    @include tablet {
        background: $brandbg;
    }

    background: $brandbgalt;
    color: $basefg;
}

.footer-inner {
    @extend %clearfix;

    @include fluid-width-measure;
    @include fluid-font-size($msize);

    @include tablet {
        padding: $vertical-rhythm-1 $space-1;
    }

    font-size: $msize;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: $vertical-rhythm-0 $space-1;
    max-width: 100%;
}

.footer-block {
    @include fluid-width-measure;

    display: block;
    padding: $space-1;
    margin: 0 auto;

    + .footer-block {
        @include border-section-inner(top);
    }
}
