.footnotes {
    @include fluid-font-size($ssize);
    @include border-section-inner(top);

    font-size: $ssize;
    margin: $vertical-rhythm-2 0 0;
    padding: $vertical-rhythm-0 0 0;

    p {
        margin-bottom: $space-0;
    }
}
