.header {
    @extend %clearfix;

    background: $brandbg;
    color: $brandfg;
}

.header-inner {
    @extend %clearfix;

    @include fluid-font-size($lsize);

    @include tablet {
        padding: $vertical-rhythm-2 $space-1;
        max-width: $measure;
    }

    @include desktop {
        max-width: $measure-xl;
    }

    font-size: $lsize;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: $vertical-rhythm-0 $space-1;
    max-width: 100%;

    .header-logo {
        @include fluid-font-size($xxlsize);

        display: block;
        font-size: $xxlsize;
        padding: 0;
    }

    .header-navigation {
        height: $vertical-rhythm-0;
        padding: $space-1 0;
        width: auto;

        ul {
            @include tablet {
                margin: 0;
            }

            display: inline;
            list-style-type: none;
            margin: $space-0 0 0;
            padding: 0;

            li {
                @include tablet {
                    line-height: $vertical-rhythm-0;
                }

                display: inline-block;
                line-height: $space-2;
                margin-right: $space-1;

                &:last-child {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
