// Index header impact styles
// ===========================
.index-impact-header {
    @extend %clearfix;

    padding: 0;
    margin: 0;
    width: 100%;
}

.index-impact-header-inner {
    @include fluid-width-measure;

    @include tablet {
        padding: $vertical-rhythm-1 0;
    }

    @include desktop {
        padding: $vertical-rhythm-2 0;
    }

    display: block;
    max-width: 100%;
    padding: $vertical-rhythm-0 $space-1;
    margin: 0 auto;
}

// Clear default styles for heading elements
// Add spacing between them
%index-impact-heading-elements {
    padding: 0;
    margin: 0;

    + %index-impact-heading-elements {
        @include tablet {
            margin-top: $vertical-rhythm-1;
        }

        margin-top: $vertical-rhythm-0;
    }
}

.index-impact-header-title {
    @extend %index-impact-heading-elements;

    @include fluid-font-size($impact-text-l);

    @include tablet {
        font-weight: 400;
    }

    font-size: $xxlsize;
}

.index-impact-header-subtitle {
    @extend %index-impact-heading-elements;

    @include fluid-font-size($xlsize);

    font-size: $lsize;
    font-weight: 400;
    color: $basefgalt;
}

.index-impact-header-meta {
    @extend %index-impact-heading-elements;

    .index-rss {
        display: block;
    }

    .index-rss-feed {
        @include fluid-font-size($ssize);

        font-size: $ssize;
    }

    .index-rss-icon {
        @include radius(50%);
        @include fluid-icon-size($ssize);

        display: inline;
        background: $col9;
        color: $basebg;
        vertical-align: top;
        padding: $space-0 / 2;
        margin-right: $space-0 / 2;
    }
}

// Index content styles
// ===========================
.index {
    padding: $space-1;

    // For indices that include multiple loops, e.g. /code/
    + .index {
        @include tablet {
            margin-top: $vertical-rhythm-1;
        }

        margin-top: $vertical-rhythm-0;
    }
}

.index-blog {
    @include fluid-width-measure;
    @include fluid-font-size($msize);

    margin: 0 auto;
    font-size: $msize;

    &:last-of-type {
        @include tablet {
            margin-bottom: $vertical-rhythm-1;
        }

        @include desktop {
            margin-bottom: $vertical-rhythm-2;
        }

        margin-bottom: $vertical-rhythm-0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            @extend %clearfix;

            display: block;
            width: 100%;

            + li {
                margin-top: $vertical-rhythm-0;
            }
        }
    }
}

.index-blog-post-timestamp {
    @include fluid-font-size($ssize);

    @include tablet {
        float: left;
        width: calc(20% - #{$space-0});
        display: inline-block;
        margin: 0 $space-0 0 0;
    }

    font-size: $ssize;
    color: $basefgalt;
    display: inline;
    margin: 0 $space-0 0 0;
}

.index-blog-post-link {
    @include tablet {
        float: left;
        display: inline-block;
        max-width: 80%; // better with max-width for hover with changing bg
    }

    display: inline;
}

.index-blog-post-heading {
    font-weight: 700;
}

// Used in posts index to display label e.g. 'Seminar', 'Book'
.index-blog-post-meta-label {
    @include fluid-font-size($xssize);

    @include tablet {
        margin-left: $space-1 * 0.15;
    }

    background: $col13;
    color: $basebg;
    font-size: $xssize;
    padding: 0 ($space-1 * 0.15);
    margin-left: $space-0;

    .index-blog-post-link:hover &,
    .index-blog-post-link:focus & {
        background: inherit; // do not retain styles when link hover changes bg
        color: inherit;
    }
}

.index-blog-section-heading {
    @include fluid-font-size($impact-text-s);
    @include border-section-divider(bottom);

    @include tablet {
        margin-bottom: $vertical-rhythm-1;
        font-weight: 400;
    }

    @include desktop {
        margin-bottom: $vertical-rhythm-2;
    }

    font-size: $xxlsize;
    line-height: $line-height;
    margin-bottom: $vertical-rhythm-0;
}

// Used in the seminars index to demarcate lecture themes
.index-blog-section-heading-secondary {
    color: $col3;
    font-weight: 400;
}

// Used to display a prominent message in the posts' array
// Currently implemented in the books section
.index-notice-card {
    @include fluid-font-size($ssize);
    @include notification($notifyinfo);

    @include tablet {
        margin-top: $vertical-rhythm-2;
    }

    @include desktop {
        margin-top: $vertical-rhythm-3;
    }

    font-size: $ssize;
    padding: $space-1;
    margin-top: $vertical-rhythm-1;
}

// Adds some extra styles to the _notifications
.index-notification {
    a {
        font-weight: 700;
    }
}

// The "all posts" button
.index-blog-redirection-button {
    @extend %button;

    @include tablet {
        margin-top: $vertical-rhythm-1;
    }

    @include desktop {
        margin-top: $vertical-rhythm-2;
    }

    margin-top: $vertical-rhythm-0;
}

// Index for Prot16 and Tempus elements
// ===========================

// Each li item in the loop
.index-scheme-item {
    @extend %clearfix;

    display: block;

    + .index-scheme-item {
        @include tablet {
            margin-top: $vertical-rhythm-1;
        }

        @include desktop {
            margin-top: $vertical-rhythm-2;
        }

        margin-top: $vertical-rhythm-0;
    }
}

// The wrapper of the entire palette
.index-scheme-palette {
    @extend %clearfix;

    @include fluid-width-measure;

    display: block;
}

// Each colour of the palette
.index-scheme-palette-color-block {
    @include tablet {
        width: (($measure / 8) - $space-0) - $space-0;
        height: (($measure / 8) - $space-0) - $space-0;
        margin: $space-0;
    }

    @include desktop {
        width: (($measure-xl / 8) - $space-0) - $space-0;
        height: (($measure-xl / 8) - $space-0) - $space-0;
    }

    display: block;
    float: left;
    width: (($measure / 16) - ($space-0 / 2)) - ($space-0 / 2);
    height: (($measure / 16) - ($space-0 / 2)) - ($space-0 / 2);
    padding: 0;
    margin: $space-0 / 2; // XXX NOTE this is an ad hoc measure and should be avoided
}
