.clearfix {
    @extend %clearfix;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

main {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
