// General styles
// --------------------------- 
a {
    color: $baselinkfg;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $baselinkfghover;
        outline: none;
    }

    // Main menu active item
    &.active {
        font-weight: 700;
    }

    // Links surrounded by paragraph text
    .post & {
        color: $bodylinkfg;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $bodylinkfghover;
        }
    }

    // Misc styles
    article:not(.packages) &,
    .homepage-container p &,
    .index p & {
        &[href^="#fn"] {
            text-decoration: none;
            font-weight: 700;
        }
    }
}

// Brand styles
// --------------------------- 
.homepage a,
.header a {
    color: $brandlink;

    &:hover,
    &:focus {
        color: $brandlinkalt;
    }
}

// Skip link (skip to content)
// --------------------------- 
a.skip-link {
    background: $brandlink;
    color: $brandbg;
    
    &:hover,
    &:focus {
        background: $brandlinkalt;
        color: $brandbg;
    }
}
