a {
    color: $baselinkfg;
    text-decoration: none;

    &:hover {
        color: $baselinkfghover;
    }

    &:active {
        color: $baselinkfgactive;
    }

    &:not(.skip-link):focus {
        background: $basebgalt;
        color: $baselinkfgfocus;
        text-decoration: none;
        outline: 1px dotted $baselinkfgfocus;
    }

    &.active {
        font-weight: 700;
    }

    .post & {
        color: $bodylinkfg;
        text-decoration: underline;

        &:hover {
            color: $bodylinkfghover;
        }

        &:active {
            color: $bodylinkfgactive;
        }
    }

    article:not(.packages) &,
    .homepage-container p &,
    .index p & {
        &[href^="#fn"] {
            text-decoration: none;
            font-weight: 700;
        }
    }
}
