%container {
    @include fluid-width-measure;

    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: $space-1;
}

.post,
.post-header-inner,
.post-footer-inner {
    @extend %container;
}

.post-header {
    padding: 0;

    @include tablet {
        padding: $vertical-rhythm-0 0;
    }

    h1 {
        @include fluid-font-size($impact-text-xl);

        @include tablet {
            font-weight: 400;
        }
    }

    // Inherits styles from h2
    .subtitle {
        @include fluid-font-size($xxlsize);

        @include tablet {
            font-weight: 400;
        }

        color: $basefgalt;
        font-weight: 400;
    }
}

.post-header-meta {
    @extend p;

    h6,
    span,
    time {
        &:not(a) {
            color: $basefgalt;
        }
    }

    // NOTE override _sass/_base.scss styles for h6
    // h6 is used in this context to denote insignificant heading
    // I think it is better suited than p or span
    h6 {
        @include fluid-font-size($ssize);

        font-size: $ssize;
        text-transform: none;
    }

    time {
        @include fluid-font-size($xssize);

        font-size: $ssize;
    }
}

p,
li {
    code {
        @include fluid-font-size($xssize);

        background: $inlinecodebg;
        color: $inlinecodefg;
        font-size: $ssize;
    }
}

// Auxiliary styles
// --------------------------- 
h1.h1-plus {
    font-size: $impact-text-l; // For books print-page title
}

.profile-pic {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

.author-profile-pic {
    @include tablet {
        text-align: right;
    }

    text-align: center;

    img { // Used in about me page
        @include tablet {
            float: right;
            margin-left: $space-1;
            margin-bottom: $space-1;
        }

        border-radius: 50%;
        max-height: 130px;
        max-width: 130px;
    }
}
