@media print {
    @page  {
        margin: 2cm;
    }

    .header,
    .headerbar,
    .authorbox,
    .nextprev,
    .mediaframe,
    .reversefootnote,
    .print-note,
    .footer {
        display: none;
    }

    body {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .post {
        background: #fff;
        color: #000;
        font-family: 'Alegreya Sans', Roboto, Helvetica, Arial, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000 !important;
        font-family: 'Alegreya Sans', Roboto, Helvetica, Arial, sans-serif;
        page-break-after: avoid;
    }

    a {
        font-weight: 700;

        &::before {
            content: '[';
            font-weight: 400;
        }

        &::after {
            content: '](' attr(href) ')';
            font-weight: 400;
            word-break: break-all;
        }

        &[href^="/"]::after {
            content: '](https://protesilaos.com' attr(href) ')';
            font-weight: 400;
            word-break: break-all;
        }

        &[href^="#fn"]::after {
            content: ']';
            font-weight: 400;
        }
    }

    pre,
    code {
        background: none;
        color: #000;
        font-family: 'Mononoki', Monaco, Consolas, 'Ubuntu Mono', monospace;
    }

    pre.highlight code span,
    .highlighter-rouge {
        background: none;
        color: #000 !important;
    }

    p,
    li {
        code {
            background: none;
            color: #000;
        }
    }

    time,
    .post-header-meta {
        color: #000 !important;
    }

    article::after {
        content: 'If you enjoy my work, consider donating via Paypal: https://www.paypal.me/protesilaos';
        display: block;
        font-size: 10pt;
        margin: 3cm 0cm 0cm;
    }

    .print-meta {
        display: block;
    }

    .print-section {
        page-break-before: always;
    }
}
