.highlight {
	background: $col7;

	.c     { color: $col8; font-style: italic } // Comment
	// .err   { color: $col15; background-color: $col1 } // Error
	.k     { font-weight: bold } // Keyword
	.o     { font-weight: bold } // Operator
	.cm    { color: $col8; font-style: italic } // Comment.Multiline
	.cp    { color: $col11; font-weight: bold } // Comment.Preproc
	.c1    { color: $col8; font-style: italic } // Comment.Single
	.cs    { color: $col11; font-weight: bold; font-style: italic } // Comment.Special
	.gd    { color: $col15; background-color: $col9 } // Generic.Deleted
	.gd .x { color: $col15; background-color: $col9 } // Generic.Deleted.Specific
	.ge    { font-style: italic } // Generic.Emph
	.gr    { color: $col1 } // Generic.Error
	.gh    { color: $col0 } // Generic.Heading
	.gi    { color: $col15; background-color: $col10 } // Generic.Inserted
	.gi .x { color: $col15; background-color: $col10 } // Generic.Inserted.Specific
	.go    { color: $col0 } // Generic.Output
	.gp    { color: $col0 } // Generic.Prompt
	.gs    { font-weight: bold } // Generic.Strong
	.gu    { color: $col8 } // Generic.Subheading
	.gt    { color: $col9 } // Generic.Traceback
	.kc    { font-weight: bold; color: $col4; } // Keyword.Constant
	.kd    { font-weight: bold; color: $col5; } // Keyword.Declaration
	.kp    { font-weight: bold; color: $col12; } // Keyword.Pseudo
	.kr    { font-weight: bold; color: $col4; } // Keyword.Reserved
	.kt    { color: $col6; font-weight: bold } // Keyword.Type
	.m     { color: $col4 } // Literal.Number
	.s     { color: $col12 } // Literal.String
	.na    { color: $col6 } // Name.Attribute
	.nb    { color: $col6 } // Name.Builtin
	.nc    { color: $col13; font-weight: bold } // Name.Class
	.no    { color: $col5 } // Name.Constant
	.ni    { color: $col5 } // Name.Entity
	.ne    { color: $col13; font-weight: bold } // Name.Exception
	.nf    { color: $col2; font-weight: bold } // Name.Function
	.nn    { color: $col0 } // Name.Namespace
	.nt    { color: $col14 } // Name.Tag
	.nv    { color: $col13 } // Name.Variable
	.ow    { font-weight: bold } // Operator.Word
	.w     { color: $col0 } // Text.Whitespace
	.mf    { color: $col4 } // Literal.Number.Float
	.mh    { color: $col14 } // Literal.Number.Hex
	.mi    { color: $col14 } // Literal.Number.Integer
	.mo    { color: $col14 } // Literal.Number.Oct
	.sb    { color: $col11 } // Literal.String.Backtick
	.sc    { color: $col12 } // Literal.String.Char
	.sd    { color: $col12 } // Literal.String.Doc
	.s2    { color: $col12 } // Literal.String.Double
	.se    { color: $col11 } // Literal.String.Escape
	.sh    { color: $col11 } // Literal.String.Heredoc
	.si    { color: $col11 } // Literal.String.Interpol
	.sx    { color: $col12 } // Literal.String.Other
	.sr    { color: $col3 } // Literal.String.Regex
	.s1    { color: $col12 } // Literal.String.Single
	.ss    { color: $col5 } // Literal.String.Symbol
	.bp    { color: $col8 } // Name.Builtin.Pseudo
	.vc    { color: $col14 } // Name.Variable.Class
	.vg    { color: $col14 } // Name.Variable.Global
	.vi    { color: $col14 } // Name.Variable.Instance
	.il    { color: $col6 } // Literal.Number.Integer.Long
}
