// Colours
// =============================================================================

// Website brand colours
// -----------------------------------------------------------------------------

// For header and footer sections
// WCAG AAA compliant
$brandbg: #ffffff;
$brandbgalt: #efefef;
$brandfg: #1a1a1a;
$brandfgalt: #4a4a4a;
$brandlink: #364d8a;
$brandlinkalt: #86208a;

// Palette for content elements (header uses brand colours)
// -----------------------------------------------------------------------------
// Base values are bgs: col15, col7 // fgs: col0, col8. Others are accents
// col0 is base fg, col15 is base bg; col8 and col7 are their alternatives
// All base values are WCAG AAA compliant (>= 7.79:1)
//
// All accent values are WCAG AAA compliant against col15 (8.25:1)
// All accent values are WCAG AAA compliant against col7 (7.00:1)
//
// All bright accents are WCAG AAA compliant for large sizes against col15 (5.50:1)
// All bright accents are WCAG AAA compliant for large sizes against col7 (4.70:1)
//
// Colours for body text must have minimum contrast 3:1 against fgs
// All bright accents qualify
//
// Any accent is suitable for big text links (except body) or block highlights
$col0: #1a1a1a; // black variant
$col1: #a20000; // red variant
$col2: #065c08; // green variant
$col3: #6c4700; // yellow variant
$col4: #0044bb; // blue variant
$col5: #960c67; // magenta variant
$col6: #005479; // cyan variant
$col7: #eeeeee; // white variant
$col8: #3c476b; // bright black variant
$col9: #b94000; // bright red variant
$col10: #3d7628; // bright green variant
$col11: #995a00; // bright yellow variant
$col12: #2d63d0; // bright blue variant
$col13: #b03890; // bright magenta variant
$col14: #007196; // bright cyan variant
$col15: #ffffff; // bright white variant

// Colour mapping
// -----------------------------------------------------------------------------

// Base values
$basebg: $col15;
$basebgalt: $col7;
$basefg: $col0;
$basefgalt: $col8;

// Links
$baselinkfg: $col4;
$baselinkfghover: $col12;
$bodylinkfg: $col12;
$bodylinkfghover: $col4;

// Buttons and action elements
$btnmainbg: $col10;
$btnmainbgactive: $col12;
$btnmainfg: $col15;
$btnmainfgactive: $btnmainfg;
$btnaltbg: $col11;
$btnaltbgactive: $btnmainbgactive;
$btnaltfg: $btnmainfg;
$btnaltfgactive: $btnmainfg;

// Inline code element
$inlinecodebg: $col7;
$inlinecodefg: $col1;

// Code blocks
$codeblockbg: $col7;
$codeblockfg: $col0;

// Notifications
$notifyinfo: $col14;
$notifynote: $col10;
$notifywarn: $col11;
$notifycrit: $col9;

// Scale and measures
// =============================================================================

// Major second (ratio is X * 1.125)
// NOTE responsive font sizes under mixins section
$xxxlsize: 1.602rem;
$xxlsize: 1.424rem;
$xlsize: 1.266rem;
$lsize: 1.125rem;
$msize: 1rem;
$ssize: 0.889rem;
$xssize: 0.79rem;
$xxssize: 0.702rem;

// Homepage and any greeter page
$impact-text-s: 1.802rem;
$impact-text-m: 2.027rem;
$impact-text-l: 2.281rem;
$impact-text-xl: 2.566rem;

// Space
// -----------------------------------------------------------------------------

// White space
$space-0: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

// Typographic spacing
$base-font-size: 16px;
$line-height: 1.266; // Equal to $xlsize
$heading-line-height: 1.125; // Equal to $lsize
$vertical-rhythm-0: #{$line-height}rem;
$vertical-rhythm-1: #{$line-height * 1.5}rem;
$vertical-rhythm-2: #{$line-height * 2.5}rem;
$vertical-rhythm-3: #{$line-height * 3.5}rem;

// Page measure
$measure: 36rem;
$measure-xl: $measure + 6;

// Dividers
$border-width-thin: 1px;
$border-width-medium: 3px;
$border-width-thick: 5px;
// NOTE Minimum contrast of WCAG AAA against col15 and brandbg
$border-color-dark-0: #111;
$border-color-dark-1: #333;
$border-color-dark-2: #555;
$border-color-light-0: #eee;
$border-color-light-1: #cecece;
$border-color-light-2: #bababa;
$border-color-highlight: $notifyinfo;
$border-color-highlight-alt: $notifycrit;

// Viewports
$tablet: 44.375em;
$desktop: 75em;

// Typography
// =============================================================================

// Font stacks
// -----------------------------------------------------------------------------
$serif: 'Times New Roman', 'Liberation Serif', serif;
$sans: 'Alegreya Sans', Roboto, Helvetica, Arial, sans-serif;
$mono: 'Anonymous Pro', Monaco, Consolas, 'Ubuntu Mono', monospace;

// Functions
// =============================================================================

// Animations
// -----------------------------------------------------------------------------

%animation-fadeIn {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

%animation-delay-0 { // very short
    animation-delay: 0.05s;
}

%animation-delay-1 { // medium
    animation-delay: 0.5s;
}

%animation-delay-2 { // longer
    animation-delay: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

// Mixins
// -----------------------------------------------------------------------------

// Now used in _sass/_homepage.scss
@mixin animation-fadeIn($delay) {
    @extend %animation-fadeIn;
    @extend %animation-delay-#{$delay};
}

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin radius($degree) {
    border-radius: $degree;
}

@mixin transition {
    transition: all ease-in-out 300ms;
}

@mixin notification($border-colour) {
    border: 1px solid $border-colour;
    border-left: 10px solid $border-colour;
    margin: $vertical-rhythm-0 0;
}

@mixin tablet {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet-font-size($tablet-font-size) {
    font-size: $tablet-font-size + 0.25;
}

@mixin desktop-font-size($desktop-font-size) {
    font-size: $desktop-font-size + 0.35;
}

// NOTE Combines the above two and is the preferred option
@mixin fluid-font-size($fluid-font-size) {
    @include tablet {
        @include tablet-font-size($fluid-font-size);
    }

    @include desktop {
        @include desktop-font-size($fluid-font-size);
    }
}

@mixin tablet-icon-size($tablet-icon-size) {
    width: $tablet-icon-size + 0.02;
    height: $tablet-icon-size + 0.02;
}

@mixin desktop-icon-size($desktop-icon-size) {
    width: $desktop-icon-size + 0.04;
    height: $desktop-icon-size + 0.04;
}

// NOTE Combines the above two and is the preferred option
@mixin fluid-icon-size($fluid-icon-size) {
    @include tablet {
        @include tablet-icon-size($fluid-icon-size);
    }

    @include desktop {
        @include desktop-icon-size($fluid-icon-size);
    }
    width: $fluid-icon-size;
    height: $fluid-icon-size;
}

@mixin border($border-position: bottom, $border-width: 1px, $border-style: solid, $border-color: #000) {
    border-#{$border-position}: $border-width $border-style $border-color;
}

@mixin border-section-divider($position: bottom) { // Used by nextprev module, index section headings
    @include border($position, $border-width-thin, dashed, $border-color-dark-1);
}

@mixin border-section-inner($position: bottom) { // Used by footnotes, or between footer blocks
    @include border($position, $border-width-thin, dotted, $border-color-dark-2);
}

@mixin fluid-width-measure {
    @include tablet {
        max-width: $measure;
    }

    @include desktop {
        max-width: $measure-xl;
    }
    max-width: 100%;
}

// Global placeholders
// Placeholders are normally defined within the stylesheet => DRY
// -----------------------------------------------------------------------------
%clearfix {
    &::before {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

%button {
    a {
        @include fluid-font-size($xxssize);
        @include radius(3%);
        @include transition;

        display: inline-block;
        background: $btnmainbg;
        color: $btnmainfg;
        font-size: $xssize;
        text-transform: uppercase;
        padding: $space-0 $space-2;

        &:hover,
        &:focus {
            background: $btnmainbgactive;
            color: $btnmainfgactive;
        }
    }
}
