---
layout: index
title: "A Handbook on the European Union"
subtitle: "An informed opinion on Europe's experiment in transnational democracy"
excerpt: "An examination of European politics and the European integration process."
permalink: /euhandbook/
breadcrumbs: true
---

{% assign euhandbooks = site.books | where: "flag", "euhandbook" %}

<div class="index index-blog">

    <div class="books-meta">

        <p>Published: <strong>{{ site.data.text.euhandbook.datefull }}</strong><br/>Book version: <strong>{{ site.data.text.euhandbook.version }}</strong></p>

        <div class="books-options">

            <div class="button books-button read-online">
                <a href="{{ '/euhandbook/introduction/'  | prepend: site.url }}">
                Read online
                </a>
            </div>
            <div class="button books-button read-offline">
                <a href="{{ '/euhandbook/print/'  | prepend: site.url }}">
                Print version
                </a>
            </div>

        </div>

    </div>
    
    <h2 class="index-blog-section-heading">Contents</h2>

    <div>

        <ul>
        {% for euhandbook in euhandbooks %}
            <li>
                <a class="index-blog-post-heading" href="{{ euhandbook.url | relative_url }}">{{ forloop.index }}. {{ euhandbook.title }}</a>
                <p class="index-blog-post-excerpt">{{ euhandbook.excerpt }}</p>
            </li>
        {% endfor %}
        </ul>

    </div>

    {% include booksnav.html %}

</div>

