/* iosevka-regular - greek_latin */
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: 400;
  src: local('Iosevka Regular'), local('Iosevka-Regular'),
       url('../fonts/iosevka/iosevka-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/iosevka/iosevka-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

