/* mononoki-regular */
@font-face {
  font-family: 'Mononoki';
  font-style: normal;
  font-weight: 400;
  src: local('Mononoki'), local('Mononoki-Regular'),
       url('../fonts/mononoki/mononoki-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mononoki/mononoki-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
