@font-face {
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Display'), local('Noto Sans Display-Regular'),
       url('../fonts/noto-sans-display/noto-sans-display-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-display/noto-sans-display-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Noto Sans Display';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Display Italic'), local('Noto Sans Display-Italic'),
       url('../fonts/noto-sans-display/noto-sans-display-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-display/noto-sans-display-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Display Bold'), local('Noto Sans Display-Bold'),
       url('../fonts/noto-sans-display/noto-sans-display-bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-display/noto-sans-display-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Noto Sans Display';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Display Bold Italic'), local('Noto Sans Display-BoldItalic'),
       url('../fonts/noto-sans-display/noto-sans-display-bold-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-display/noto-sans-display-bold-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
