---
layout: index
title: "Blog on politics"
subtitle: "Analyses on political theory and current issues"
excerpt: "Analyses on political theory and current issues"
index-feed:
  text: EU Blog RSS
  url: "/feed.xml"
permalink: /blog/
---

<div class="index index-blog">
    <ul>
    {% for post in site.posts %}
        <li class="index-blog-post-container">
            <time class="index-blog-post-timestamp">{{ post.date | date: site.date_format }}</time>
            <a class="index-blog-post-link" href="{{ post.url | relative_url }}">
                <span class="index-blog-post-heading">{{ post.title }}</span>
                {% if post.lecturetheme and post.lecture %}
                <span class="index-blog-post-meta-label">Seminar</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="button index-blog-redirection-button">
        <a href="/blog-archive/">Entire blog archive</a>
    </div>
</div>
