---
layout: default
---
<div class="index-impact-header">
    <div class="index-impact-header-inner">
        <h1 class="index-impact-header-title">
            {{ page.title }}
        </h1>

        {% if page.subtitle %}
            <h2 class="index-impact-header-subtitle">
                {{ page.subtitle }}
            </h2>
        {% endif %}

        {% if page.index-feed %}
            <div class="index-impact-header-meta">
                <span class="index-rss">
                    <img class="index-rss-icon" src="{{ 'images/other/rss.png' | absolute_url }}" alt="Feed icon"/>
                    <a class="index-rss-feed" href="{{ page.index-feed.url }}">
                        {{ page.index-feed.text }} <abbr title="Really Simple Syndication">RSS</abbr>
                    </a>
                    <small>
                        (<a href="/feeds/">What is this?</a>)
                    </small>
                </span>
            </div>
        {% endif %}

    </div>
</div>

<div class="index-wrapper">
    {{ content }}
</div>
