---
layout: default
---
<article class="post container">

    <div class="post-inner">

        <div class="post-header">
            <h1>{{ page.title }}</h1>

            {% if page.subtitle %}
              <h2 class="subtitle">{{ page.subtitle }}</h2>
            {% endif %}
	    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time>
        </div>

        {% if page.group == "Blog archive entries" %}
            <p class="warn">This post is archived. Opinions expressed herein may no longer represent my current views. Links, images and other media might not work as intended. You can <a href="/contact/">contact me</a> for further questions.</p>
        {% elsif page.group == "Code blog archive entries" %}
            <p class="warn">This post is archived. Any information or opinion provided herein may be out of date. Links, images and other media might not work as intended. You can <a href="/contact/">contact me</a> for further questions.</p>
        {% endif %}
        {{ content }}
  
    </div>

</article>

<div class="post-footer">

    <div class="post-footer-inner">
        {% include nextprev.html %}
    </div>

</div>
